
@import 'compass/reset';
@import 'compass/css3';
$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    color: #333;
}


.jumbotron {
    padding-top: 0;
    margin: 0px;
}

.search-controls {
    margin-bottom: 20px;
}

.search-again {
    @include transition(all 1s ease 1s);
    opacity: 1;
    line-height: 0;
    &.cleared-out{
    opacity: 0;
    }
}

.item-view {

    img {

        display: inline-block;
    }
    .description {
    }
    .info {
        display: inline-block;
    }

}

.list-viewer {

    padding-right: 0;

    .list-view {
        overflow: hidden;
        position: static;

    }
}

.keywords {
    color: #94C7C7;
}

.footer {
    background: #94C7C7;
    padding: 30px;
    color: white;
}

@media screen and (max-width: 992px) {
    .search-again {
        color: red;
    }
    .page-title {
        margin: 90px auto 10px;
    }
    .search-controls {
        margin: 0 auto;
        position: fixed;
        background: rgba(238, 238, 238, 0.9);
        z-index: 100;
        padding: 5px 0;
        top: 0;
        .keywords {
            text-shadow: -1px 1px white;
        }
    }
    
    .list-viewer {
        position: static;
        .list-group-item {
            overflow: hidden;
            height: 300px;
            margin: 10px auto;
                img {
                    margin-top: -10px;
                    height: 270px;
                    //crop and size the image
                }
        }
    }
}
