<!DOCTYPE html><!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!--><html class=no-js><!--<![endif]--><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><title>Hipstermatic Etsy Search</title><meta name=description content=""><meta name=viewport content="width=device-width"><!-- Place favicon.ico and apple-touch-icon.png in the root directory --><link rel=stylesheet href=styles/vendor.css><link rel=stylesheet href=styles/007f5353.main.css><script src=bower_components/modernizr/modernizr.js></script><!-- // <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> --><body><!--[if lt IE 10]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]--><div class=container-fluid><div class="jumbotron clearfix"><div class=row><h1 class="col-xs-12 page-title">Hipstermatic Etsy Search</h1></div><h3 class="col-xs-12 search-controls"></h3><div class=row><div class="col-md-5 col-sm-12 list-viewer"></div><div class="col-md-7 hidden-sm hidden-xs item-viewer"></div></div></div><div class="footer col-xs-12"><p>Hipstermatic Etsy Search, be unique-er</p><p>joshua maxwell</p></div></div><script type=text/template id=list-view-template><p class="col-md-9 col-xs-12 col-md-push-3 small text-left title"><%= this.model.get('title') %>
                <span class="small text-muted price"> $<%= this.model.get('price') %></span>
                <a class="item-link small hidden-md hidden-lg" href="<%= this.model.get('url') %>">view on etsy.com</a>
            </p>
            <img class="col-xs-offset-2 col-md-offset-0 col-md-3 col-md-pull-9" src="<%= this.model.get('Images')[0].url_570xN %>"/></script><script type=text/template id=item-view-template><div class="panel-body">
                <div class="row">
                    <img class="col-md-5 col-xs-12"src="<%= this.model.get('Images')[0].url_570xN %>">
                    <div class="info col-md-5 col-xs-12">        
                        <h3 class="title text-left"><%= this.model.get('title') %></h3>
                        <h4 class="price text-muted text-right">$<%= this.model.get('price') %></h4>
                    </div>
                </div>
                <div class="row">
                    <p class="description small col-xs-12 text-left"><%= this.model.get('description') %></p>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a class="item-link" href="<%= this.model.get('url') %>">view on etsy.com</a>
            </div></script><script src=scripts/022f5ef7.vendor.js></script><!-- Google Analytics: change UA-XXXXX-X to be your site's ID. --><script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');</script><script src=scripts/aaf74903.plugins.js></script><script src=scripts/100e0d51.main.js></script>